<section class="company-details">
  @if (selectedCompany()) {
  <div class="details-heading">
    <h2>{{ selectedCompany().company }}</h2>
  </div>
  <div class="details-body">
    <h3>Company Details:</h3>
    <div>
      <p>Position: {{ selectedCompany().position }}</p>
      <p>Starting Salary: {{ selectedCompany().position }}</p>
      <p>Work Type: {{ selectedCompany().workType }}</p>
      <p>Location: {{ selectedCompany().location }}</p>
      <p>Country: {{ selectedCompany().country }}</p>
      <p>Qualifications: {{ selectedCompany().qualifications }}</p>
      <p>Description: {{ selectedCompany().description }}</p>
      <p>Expires: {{ selectedCompany().expires }}</p>
    </div>
  </div>
  }
</section>
