p {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  padding-right: 15px;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 13px 20px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
  gap: 10px;
  cursor: pointer;
}